body {
	font-size: 18px;
	/*color: #777;*/
	text-align: center;
}

body p {
	color: #777;
}

.top-margin {
	margin-top: 50px;
}

.bot-margin {
	margin-bottom: 50px;
}


/* ---- Nav bar style ---- */
.navbar-default {
	background-color: transparent;
	border-color: transparent;
}

.navbar-brand {
	font-size: 32px;
	color: #FFF !important;
}

.navbar-brand>img {
	display: inline;
}

.navbar-default .navbar-nav>li>a {
	font-size: 18px;
    color: #FFF;
}

.navbar-default .navbar-nav>li>a:hover {
	color: #ff5900;
}
/* ---- Nav bar style ENDS---- */


.ghost-btn {
	color: #ff5900;
	background: #FFF;
	border: 2px solid #ff5900;
	border-radius: 5px;
	font-size: 24px;
	padding: 7px 12px;
	font-weight: normal;
	margin: 6px 0;
	margin-right: 12px;
	display: inline-block;
	text-decoration: none;
	min-width: 120px;
}

.ghost-btn:hover, .ghost-btn:active {
	text-decoration: none;
	color: #FFF;
	background: #ff5900;
}

#image-row {
	background-size: cover;
	background: linear-gradient(
                     rgba(255,255,255, .95), 
                     rgba(255,255,255, .95)),
                     url("/static/images/stock-stripe.jpg");
}

#footer-row {
	padding: 25px 0 25px 0;
	background-color: #3c4040;
}

#footer-row h3 {
	color: #FFF;
}

#footer-left {
	margin-left: 50px;
}

#footer-left h3 {
	text-align: left;
}

#footer-left p {
	text-align: left;
}


