.profile {
	padding-right: 50px;
	padding-bottom: 50px;
}

.profile-pic {
	display: block;
	margin: 0 auto;
}
 
.profile-header {
	float: left;
}

.profile-header h1 {
	margin-top: 0px;
}

.profile-edit {
	float: right;
}

.profile-content {
	clear: both;
	text-align: left;
}

.social-link {
	display:inline;
	max-height: 50px;
	padding-top: 10px;
}