<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Bootstrap-->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
    {% block head %}
      <title>{% block title%}{% endblock%}</title>
      <link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet">
    {% endblock %}
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
    
  <body>
    <div class="jumbotron" id="hero">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-console" aria-hidden="true"></span><strong>CTC</strong></a>
          </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/members">Members</a></li>
              <li><a href="/events">Events</a></li>
              <li><a href="#">Contact Us</a></li>
              {% if current_user.is_authenticated %}
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <img src="{{ current_user.gravatar(size=18) }}">
                  Account <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="{{ url_for('main.user', username=current_user.username) }}">Profile</a> </li>
                    <li><a href="{{ url_for('auth.change_password') }}">Change Password</a></li>
                    <li><a href="{{ url_for('auth.change_email_request') }}">Change Email</a></li>
                    <li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
                  </ul>
              </li>
              {% else %}
              <li><a href="/auth/login">Login</a></li>
              {% endif %}
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>

      {% if heroText %}
        <div class="container">
          <h1 id="hero-text"><strong>Cascades Tech Club</strong></h1>
          <h4 id="hero-sub">A student organization of OSU Cascades</h4>
        </div>
      {% endif %}
    </div>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
        <div class="alert alert-warning">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          {{ message }}
        </div>
        {% endfor %}
        </ul>
        {% endif %}
      {% endwith %}

    {% block content %}{% endblock %}
  </body>
  <footer>
    <div class="row" id="footer-row">
      <div class="col-sm-4" id="footer-left">
        <h3>Contact Us</h3>
        <p>OSU-Cascades<br>
           1500 SW Chandler Avenue<br>
           Bend, Oregon 97702<br>
           541-322-3100</p>
      </div>
      <div class="col-sm-4">
      
      </div>
      <div class="col-sm-4">
      
      </div>
    </div>
  </footer>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Markdown.js for supporting markdown in event posts -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/pagedown/1.0/Markdown.Converter.js"> </script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/pagedown/1.0/Markdown.Editor.js"> </script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/pagedown/1.0/Markdown.Sanitizer.js"> </script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</html>