{% extends "base.html" %}
{% block head %}
  <link href="{{ url_for('static', filename='css/interior.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/profiles.css') }}" rel="stylesheet">
{% endblock %}
{% block title%}{{ user.name }}'s Profile{% endblock %}

{% block content %}
  <div class="row profile">
    <div class="col-sm-3">
      <img class="img-rounded profile-thumbnail  profile-pic" src="{{ user.gravatar(size=256) }}">

      <p>Contact Me:</p>

      <a href="mailto:{{ user.email }}"><img class="social-link" src="{{ url_for('static', filename='images/mail.png') }}"></img></a>

      {% if user.github %}
      <a href="{{ user.github }}"><img class="social-link" src="{{ url_for('static', filename='images/github.png') }}"></img></a>
      {% endif %}

      {% if user.linkedin %}
      <a href="{{ user.linkedin }}"><img class="social-link" src="{{ url_for('static', filename='images/linkedin.png') }}"></img></a>
      {% endif %}
    </div>

    <div class="col-sm-9">
      <div class="profile-header">
        <h1>{{ user.name }}</h1>
      </div>
        {% if user == current_user %}
        <div class="profile-edit">
          <a class="btn btn-default" href="{{ url_for('.edit_profile') }}">
            Edit Profile
          </a>
          {% endif %}
          {% if current_user.is_administrator() %}
          <a class="btn btn-danger" href="{{ url_for('.edit_profile_admin', id=user.id) }}">Edit Profile [Admin]</a>
        </div>
          {% endif %}

      <div class="profile-content">
          <p>
            {% if user.location %}
            From <a href="http://maps.google.com/?q={{ user.location }}">
                  {{ user.location }}
                </a>
            {% endif %}
          </p>

          <p>
            {% if user.grad_date %}
              Graduation Date: {{ moment(user.grad_date).format('L') }}
            {% endif %}
          </p>

          <div class="panel-group" id="accordion">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                  About Me
                  </a>
                </h4>
              </div>

              <div id="collapse1" class="panel-collapse collapse in">
                <div class="panel-body">
                  {% if user.about_me %}
                    <p>{{ user.about_me }}</p>
                  {% else %}
                    <em>This user hasn't entered about me info</em>
                  {% endif %}

                  {% if user.interests %}
                    <h4>Interests</h4>
                    <p>{{ user.interests }}</p>
                  {% endif %}
                </div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                  Experience
                  </a>
                </h4>
              </div>

              <div id="collapse2" class="panel-collapse collapse">
                <div class="panel-body">
                  {% if user.experience %}
                    <p>{{ user.experience }}</p>
                  {% else %}
                    <em>This user hasn't entered their experience</em>
                  {% endif %}
                </div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                  Projects
                  </a>
                </h4>
              </div>

              <div id="collapse3" class="panel-collapse collapse">
                <div class="panel-body">
                  {% if user.projects %}
                    <p>{{ user.projects }}</p>
                  {% else %}
                    <em>This user hasn't entered their projects</em>
                  {% endif %}
                </div>
              </div>
            </div>
          </div><!--End Accordion -->

      </div><!-- End profile-content -->
    </div>
  </div>

{% endblock %}