{% extends "base.html" %}
{% block head %}
  <link href="{{ url_for('static', filename='css/interior.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/profiles.css') }}" rel="stylesheet">
{% endblock %}
{% block title%}{{ user.name }}'s Profile{% endblock %}

{% block content %}
  <div class="row profile">
    <div class="col-sm-3">
      <img class="img-rounded profile-thumbnail  profile-pic" src="{{ user.gravatar(size=256) }}">

      <p>Contact Me:</p>

      <a href="mailto:{{ user.email }}"><img class="social-link" src="{{ url_for('static', filename='images/mail.png') }}"></img></a>

      <a href="mailto:{{ user.email }}"><img class="social-link" src="{{ url_for('static', filename='images/github.png') }}"></img></a>

      <a href="mailto:{{ user.email }}"><img class="social-link" src="{{ url_for('static', filename='images/linkedin.png') }}"></img></a>
    </div>

    <div class="col-sm-9">
      <div class="profile-header">
        <h1>{{ user.name }}</h1>
      </div>
        {% if user == current_user %}
        <div class="profile-edit">
          <a class="btn btn-default" href="{{ url_for('.edit_profile') }}">
            Edit Profile
          </a>
          {% endif %}
          {% if current_user.is_administrator() %}
          <a class="btn btn-danger" href="{{ url_for('.edit_profile_admin', id=user.id) }}">Edit Profile [Admin]</a>
        </div>
          {% endif %}

      <div class="profile-content">
        {% if user.name or user.location %} 
          <p>
            {% if user.location %}
            From <a href="http://maps.google.com/?q={{ user.location }}">
                  {{ user.location }}
                </a>
            {% endif %}
          </p>
        {% endif %}

        {% if user.about_me %}
        <h3>About Me:</h3>
          <p>
            {{ user.about_me }}
          </p>
        {% endif %}

        {% if user.grad_date %}
        <h3>Graduation Date:</h3>
          <p>
            {{ moment(user.grad_date).format('L') }}
          </p>
        {% endif %}

      </div>
    </div>
  </div>

{% endblock %}